<!DOCTYPE html>
<html>
<head>
    <title>Civic Issue Reporting System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="hero">

    <h1>Crowd Sourced Civic Issue Reporting and Resolution System</h1>

    <p>
        Welcome to the Smart Civic Portal.
        Report public issues like potholes, garbage,
        water leakage and damaged street lights.
        Help make your city cleaner and safer.
    </p>

    <br>

    <a href="/report">
        <button class="btn">📝 Report Complaint</button>
    </a>

    <a href="/admin">
        <button class="btn">👨‍💼 Admin Dashboard</button>
    </a>

</div>

</body>
</html>